/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  width: 320px;
  margin: 0 auto;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 6px;
}

p {
  text-align: center;
}

a {
  color: inherit;
  font-family: Libre Franklin;
}

h1 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 24px;
  line-height: 1.2;
}

.intro {
  padding: 10px 0;
}

.author {
  text-align: center;
  padding-bottom: 30px;
}

h2 {
  font-family: Libre Franklin;
  font-size: 20px;
  line-height: 1.2;
}

.red-title {
  font-size: 11px;
  border-radius: 10px;
  background: red;
  text-align: center;
  color: white;
  margin: 3px 70px 3px 70px;
}

.cooking {
  background-color: rgb(199, 202, 183);
  padding: 20px 10px;
}

.cooking h2 {
  font-family: "Sorts Mill Goudy", serif;
}

.reciepes {
  font-family: Libre Franklin;
  font-size: 20px;
  line-height: 1.2;
  background: white;
  margin: 0 10px;
  padding: 10px;
  border: 1px gray solid;
}

footer {
  background-color: black;
  color: white;
  padding: 20px 10px;
}

.footer-title h2 {
  font-family: "Sorts Mill Goudy", serif;
}

.informations {
  display: flex;
  flex-direction: column;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  padding: 10px 10px 0px;
}

/* ====================================
// base rules
// ==================================== */
